<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.camfruss.commit</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/camfruss/git/commitment-issues/commit.sh</string>
    </array>

	<key>KeepAlive</key>
    <true/>

	<key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>00</integer>
        
		<key>Hour</key>
        <integer>23</integer>
	</dict>
</dict>
</plist>
